@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=JetBrains+Mono:wght@100;400;800&family=Reenie+Beanie&display=swap');

* {
	box-sizing: border-box;
}
body, html {
		min-height: 100vh;
		margin:0;
	}
img {
	max-width: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
header {
    border-bottom: 1px solid;
    padding:20px 30px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    background-image: url(../imgs/logo.svg);
    width: 60px;
    height:60px;
    background-size: 100%;
    background-repeat: no-repeat;
}
nav ul {
    list-style: none;
    padding: 0;
    margin:0;
    display: flex;
    grid-gap: 50px;
    font-family: 'Reenie Beanie', cursive;
    font-size: 26px;
    margin: 0;
}
a{
	display: inline-block;
	text-decoration: none;
	color:#6D6466;
}
.button {
    transition-duration: 0.4s;
}
.button:hover {
    background-color: #D6EEFF;
    padding: 0 20px 0 20px;
    color: #6D6466;
}
main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.joke {
    cursor: url(../imgs/cursor.png), auto;
}
.joke div:not(:first-child){
    display: none;
}
.scarecrow{
    background-image: url(../imgs/scarecrow.png);
    background-size: cover;
}
.scarecrow-medal{
    background-image: url(../imgs/scarecrow-medal.png);
    background-size: cover;
}
h1{
    font-family: 'Reenie Beanie', cursive;
    font-size: 52px;
    margin: 0;
}
h2 {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 800;
}
h3 {
    font-family: 'Amatic SC', cursive;
    font-size: 28px;
    text-transform: uppercase;
    padding: 5px 0 0 0;
    margin: 0;
}
h4 {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 100;
    font-variant-caps: all-small-caps; 
    font-size: 24px;
    padding: 0 0 0 10px;
    margin: 0;
}
p {
    
}
footer {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-gap: 50px;
    justify-content: center;
    border-top: 2px solid;
    padding: 10px;
}
.credits {
    text-align: right;
}
.copyright {
    padding-top: 5px;
}